<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959955259137-64541tgaasrtlqbv733j3gsgnhrsrhig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959955259137-64541tgaasrtlqbv733j3gsgnhrsrhig</string>
	<key>API_KEY</key>
	<string>AIzaSyAa0632VY98xecVSST_RtbLfPzxfK1Ucyc</string>
	<key>GCM_SENDER_ID</key>
	<string>959955259137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..GameOfChores</string>
	<key>PROJECT_ID</key>
	<string>game-of-chores-ddf9b</string>
	<key>STORAGE_BUCKET</key>
	<string>game-of-chores-ddf9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959955259137:ios:5a57fea8d5bf9887ecd500</string>
</dict>
</plist>